*{
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  margin: 0;
  outline: none;
  padding: 0;


.Game{
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: rgb(68, 68, 253);

  // justify-content: space-around
  .GameHeader{
    border: 1px solid red;
    height: 500px;
    width: 300px;
    // align-content: center;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 0 20px;
    // height: 50px;
    // background-color: #000;
    // color: #fff;
    h2{
      color: aliceblue;
    }
    .GameHeader-score{
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .GameBody{
    background-color: rgba(0, 0, 0, 0.9);
    height: 500px;

    h2{
      color: aliceblue;
      text-align: center;
    }

    aside{
      color: aliceblue;
      align-items: center;
      border: 1px solid violet;
      margin: 0.2rem auto;
      max-width: 90%;
    }

    span{
      color: aliceblue;
    };

    p{
      color: darkcyan;
      background-color: aliceblue;
      border-radius: 0.2rem;
      box-shadow: 1px 1px 1px 1px darkcyan;
      margin: 0
    };
  }
}
}